In [17]:
import json
import numpy
import pandas as pd
import requests

In [11]:
json_data = open('MOCK_DATA.json')

In [14]:
df = pd.read_json('MOCK_DATA.json')

In [39]:
df.head()
df = df[df.id != 3]
df.head()

,additional_information,address,diagnosis,drug_code,email,first_name,gender,id,last_name,phone_number,visit_date
3,[{'notes': 'Fusce consequat. Nulla nisl. Nunc ...,1 American Drive,T22521D,49349-612,None,Juliana,Female,4,Belliard,846-384-4132,6/24/2017
4,[{'notes': 'Proin eu mi. Nulla ac enim. In tem...,31463 Michigan Way,S42156B,21695-751,None,Rozanne,Female,5,Lidster,344-285-5545,3/4/2017
5,[{'notes': 'Duis consequat dui nec nisi volutp...,55 Continental Court,M84573A,63629-3803,fhumbell5@uiuc.edu,Fernandina,Female,6,Humbell,850-355-2041,4/17/2017
6,[{'notes': 'Aenean fermentum. Donec ut mauris ...,27179 Buell Crossing,H598,49999-982,None,Dorris,Female,7,Perrycost,379-616-6433,1/9/2018
7,"[{'notes': 'Lorem ipsum dolor sit amet, consec...",46312 Hazelcrest Avenue,V84,0135-0157,maizikowitz7@usda.gov,Margette,Female,8,Aizikowitz,738-441-3675,4/26/2017

In [28]:
url = 'http://localhost:8888/notebooks/Documents/Personal/github/takehome/'
r = requests.post(url, data = {'first_name':'Rollo'})

In [ ]:
def searchPat(self, df):
    df[df['first_name'] == 'Rollo']
    df[df['gender'] == 'Male']
    df[df['last_name'] == 'Methuen']

In [16]:
def createPat(self,df):
    df.append({"first_name":"Bob", "last_name":"Saget"}, ignore_index = True)

SyntaxError: unexpected EOF while parsing (<ipython-input-16-5784415afeb5>, line 1)

In [ ]:
def readPat(self, df):

In [ ]:
def updatePat(self, df):

In [ ]:
def deletePat(self, df):